/* root CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
h1{
    font-size: 64px;
    color: #fff;
}
h3{
    font-size: 28px;
    color: #18191F;
    margin-bottom: 10px;
}
p{
    font-size: 16px;
    color: #6C6C6C;
    line-height: 30px;
}
/* header style */
.header{
    background-color: #2d25a0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-bars{
    display: none;
}
nav ul{
    display: flex;
    margin: 52px 0px;
    padding: 0;
}
nav ul li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    margin-right: 36px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.nav_right button , .hero_title button{
    background-color: #E02C6D;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 22px;
    cursor: pointer;
}

/* hero section style */
.hero_section{
    background-color: #2d25a0;
}
.hero{
    display: flex;
    padding: 52px 0px;
}
.hero_banner img{
    width: 556px;
    height: 438px;
    margin-left: 30px;
}
.hero_title button:hover{
    transform: scale(1.2);
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}

/* player bio section style */
.player_bio{
    padding: 70px 0px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px;
}
.player{
    padding: 15px 15px;
    box-shadow: 2px 2px 11px 0px rgb(0 0 255 / 10%);
}
.player_thumb img{
    width: 309px;
    height: 256px;
}

/* footer section style */
footer{
    padding: 30px 0px;
}
.logo img{
    width: 483px;
    height: 110px;
    margin: 0 auto;
    display: block;
}
.social_icons{
    text-align: center;
}
.social_icons i{
    background-color: #d6cccc;
    padding: 10px;
    border-radius: 50%;
    color: #7d7777;
    font-size: 24px;
    margin-right: 14px;
    margin-top: 20px;
}
.copyright{
    text-align: center;
    margin-top: 30px;
}

/*---------------------------------------- 
media query styles 
----------------------------------------*/
/*---------------- 
mobile devices 
------------------*/
@media screen and (max-width:688px) {
    /* header section media query */
    .container{
        width: 80%;
    }
    .fa-bars{
        display: block;
        color: #fff;
        font-size: 16px;
    }
    .navbar{
        padding: 33px 0px;
    }
    nav ul{
        display: none;
    }
    /* hero section media query */
    .hero{
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-size: 36px;
        margin-top: 0px;
    }
    .hero_title button{
        margin-bottom: 52px;
    }
    .hero_banner img{
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    /* player bio section media query */
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    /* footer section */
    footer{
        padding: 20px;
    }
    .logo img{
        width: 85%;
        height: auto;
    }
    .social_icons i{
        font-size: 16px;
    }

}
@media screen and (max-width:375px){
    /* player bio section media query */
    .player_thumb img{
        width: 100%;
        height: auto;
    }
    /* footer section */
    .social_icons i{
        font-size: 14px;
    }
}
@media screen and (max-width:320px){
    h1{
        font-size: 32px;
    }
    h3{
        font-size: 24px;
    }
}

/*---------------------------------- 
tablet devices 
----------------------------------*/
@media screen and (min-width:688px) and (max-width:992px){
    h1{
        font-size: 52px;
    }
    /* header section media query */
    .fa-bars{
        display: block;
        color: #fff;
    }
    .navbar{
        padding: 22px 0px;
    }
    nav ul{
        display: none;
    }
    /* hero section media query */
    .hero{
        flex-direction: column;
        padding: 32px 0px;
    }
    .hero_title button{
        margin-bottom: 52px;
    }
    /* player bio section media query */
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .player_thumb img{
        width: 100%;
        height: auto;
    }

}